.dogs {
    display:contents;
    border-radius: 8px;
    padding: 20px;  
    margin-right: 40px;
    margin-left: 40px;
    height: 50%;
    width: 50%;
   
}
.buttonpage1 {
    display: inline;
    margin-left: 8px ;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 10%;
    height: 100%;
    text-align: center;
    font-size: 100%;
    font-family: serif;
    color: white;
    background: #8692fc;
    border-radius: 4px;
    border: 1px solid #050141;
    cursor: pointer
}

.titulo{
    display: inline;
    text-align: center;
    height: 5px;
    margin: 30px;
    margin-top: 1px;
    padding-bottom: 5px;
    font-size: 320%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif0;
    color: rgba(173, 170, 6, 0.849);
    
 }
 .titulo2{
    text-align: center;
    height: 5px;
    margin: 30px;
    margin-top: 30px;
    margin-bottom: 40px;
    padding-bottom: 5px;
    font-size: 250%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif0;
    color: rgba(214, 211, 13, 0.849);
    
 }
 .img{
    background-color:#0501415d;
    margin-top: 20px;
    border-radius: 200px;
    border: solid;
    
 }
 .buttonpage {
    text-decoration:none;
    display: inline;
    margin-bottom: 10px;
    margin-left: 5px;
    width: 140px;
    height: 50px;
    text-align: center;
    font-size: 120%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif0;
    color: white;
    background: #00000059;
    border-radius: 20px;
    border: 1px solid #050141
 }
 .link{
    text-decoration:none;
 }
 .icon{
   border-radius: 50px; 
 }
 .loader {
   margin-top: 150px;
   width: 48px;
   height: 48px;
   border: 5px solid rgba(90, 124, 189, 0.925);
   border-bottom-color: transparent;
   border-radius: 50%;
   display: inline-block;
   box-sizing: border-box;
   animation: rotation 1s linear infinite;
   }
   @keyframes rotation {
   0% {
       transform: rotate(0deg);
   }
   100% {
       transform: rotate(360deg);
   }
   } 